/*Title/Menu Styles*/
header h1 {
    text-align: center;
    font-family: sans-serif;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
    margin-right: 35%;
    margin-left: 35%;
    color: black;
}
.title {
    font-family: 'Slackey', cursive;
}
.menu {
    position: absolute;
    margin-left:2%;
    margin-right:3%;
}
.menu ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.menu ul li {
    display:table-cell;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}
.menu {
    position: absolute;
    left: 600px;
}
html {
    background: rgb(195, 186, 178)
}
.releaseDate {
    border: rgb(0, 0, 0) solid 5px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 70px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}

/*Order Text Placement*/ 
.smallOrder {
    position: absolute;
    left: 430px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 480px
}
.smallOrderText {
    position: absolute;
    left: 400px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 450px;
    margin-top: 7%;
}
.mediumOrder {
    position: absolute;
    left: 680px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 480px;
}
.mediumOrderText {
    position: absolute;
    left: 660px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 450px;
    margin-top: 7%;
}
.largeOrder {
    position: absolute;
    left: 970px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 480px;
}
.largeOrderText {
    position: absolute;
    left: 940px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 450px;
    margin-top: 7%;
}

/*Add To Cart Buttons*/
.addToCart1 {
    position: absolute;
    left: 420px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: sans-serif;
    top: 580px;
    margin-top: 7%;
}
.addToCart2 {
    position: absolute;
    left: 680px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: sans-serif;
    top: 580px;
    margin-top: 7%;
}
.addToCart3 {
    position: absolute;
    left: 960px;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    font-family: sans-serif;
    top: 580px;
    margin-top: 7%;
}

/*Table Styles*/
.websites {
    background:rgb(173, 160, 149);
    border: black solid 5px;
    width:100%;
    border-radius: 10px;
}
.websites caption {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.websites th a{
    color: rgb(0, 0, 107);
    text-decoration: none;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.websites th a:hover{
    color: blue;
    text-decoration: underline;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}