/*Header and Background Styles*/
header h1 {
    text-align: center;
    font-family: sans-serif;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
    margin-right: 35%;
    margin-left: 35%;
    top:100px;
}
.title {
    font-family: 'Slackey', cursive;
}
html {
    background: rgb(195, 186, 178)
}
.releaseDate {
    border: rgb(0, 0, 0) solid 5px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 70px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}

/*Website Table Styles*/
.websites {
    background:rgb(173, 160, 149);
    border: black solid 5px;
    width:100%;
    border-radius: 10px;
}
.websites caption {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.websites th a{
    color: rgb(0, 0, 107);
    text-decoration: none;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.websites th a:hover{
    color: blue;
    text-decoration: underline;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Payment Form Styles*/          
/*Charlie Helped With This Form*/
fieldset#namenstuff {
    float: left ;
    width: 400px;
    padding: 5px;
}
form#basicinfo input, form#basicinfo label {
    padding: 2px;
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
}

fieldset#cardinfo {
    padding: 5px;
}
form{
    border:rgb(0, 0, 0) solid ;
    border-radius: 13px;
    position: absolute;
    top: 320px;
    left: 455px;
    background-color: rgba(173, 160, 149 0.7);
    margin-bottom: 50px;
    font-family: sans-serif;
}
form#basicinfo legend {
    font-size: 26px;
    text-decoration: underline;
    border-radius: 10px;
    border: solid rgb(17, 25, 26) 2px;
    text-align: center;
    padding: 5px;
}
button.submitbutton {
    margin-top: 10px;
    border: solid rgb(25, 29, 29) 1px;
    background: rgb(212, 196, 182); 
    border-radius: 10px;
    font-family: sans-serif;
    margin-left: 45px;
    font-size: 30px;
}
button.submitbutton:hover {
    background-color: rgb(173, 160, 149);
}
footer{
    position: relative;
    top: 870px;
    left: 300px;
    width: 1000px;
    font-size: 30px;
    margin-top: 10px;
    border: solid rgb(103, 119, 119) 1px;
    background-color: rgb(12, 214, 214);
    border-radius: 15px;
    padding: 5px;
  
}

    
