header h1 {
    text-align: center;
    font-family: sans-serif;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
    margin-right: 35%;
    margin-left: 35%;
}
.menu ul li a {
    text-decoration: none;
    margin-left:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.menu ul li {
    display:table-cell;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}
.menu {
    position: absolute;
    left: 600px;
}
html {
    background: rgb(195, 186, 178)
}
.releaseDate {
    border: rgb(0, 0, 0) solid 5px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 70px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}
.information {
    position: absolute;
    left: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: black solid 5px;
}
.informationInfo {
    position: absolute;
    left: 300px;
    top: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: black solid 5px;
}
.dippingSauceImage1 {
    position: absolute;
    right:400px;
    border: black solid 5px;
    border-radius: 10px;
}
.founderText {
    position: absolute;
    font-family: sans-serif;
    right:480px;
    top: 800px;
}
.founder {
    position: absolute;
    right:385px;
    top: 885px;
    width:300px;
    border: black solid 5px;
    border-radius: 10px;
}