/*Title/Menu Styles*/
header h1 {
    text-align: center;
    font-family: sans-serif;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
    margin-right: 35%;
    margin-left: 35%;
    color: black;
}
.title {
    font-family: 'Slackey', cursive;
}
.menu {
    position: absolute;
    margin-left:2%;
    margin-right:3%;
}
.menu ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.menu ul li {
    display:table-cell;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}
.menu {
    position: absolute;
    left: 600px;
}
html {
    background: rgb(195, 186, 178)
}
.support {
    border: rgb(0, 0, 0) solid 5px;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 50px;
    border-radius: 10px;
    background-color: rgb(173, 160, 149);
}

/*Website Table Styles*/
.websites {
    background:rgb(173, 160, 149);
    border: black solid 5px;
    width:100%;
    border-radius: 10px;
}
.websites caption {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.websites th a{
    color: rgb(0, 0, 107);
    text-decoration: none;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.websites th a:hover{
    color: blue;
    text-decoration: underline;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Contact Us Table Styles*/
.contactUs {
    background:rgb(173, 165, 159);
    border: black solid 5px;
    width:100%;
    border-radius: 10px;
    width:70%;
    margin-left: 15%;
}
.contactUs th {
    font-size:60px;
    font-family:sans-serif;
}
.contactUs td {
    font-size:60px;
    font-family:sans-serif;
}
.liveChat {
    background:rgb(173, 165, 159);
    border: black solid 5px;
    width:100%;
    border-radius: 10px;
    margin-top: 1%;
    width:50%;
    margin-left: 25%;
}
.liveChat th {
    font-size:40px;
    font-family:sans-serif;
}
.liveChatText th {
    font-size: 60px;
    font-family:sans-serif;
}